{
    "singleQuote": true,
    "trailingComma": "es5",
    "prettier.tabWidth": 4,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "printWidth": 150,
    "prettier.eslintIntegration": true,
    "prettier.printWidth": 150
}
